//import fonts 
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');


body {

    margin: 0;
    font-family: "Josefin Sans", sans-serif; 

}

section {
    width: 100%;
    height: 100vh;
    background-size:cover ;

}

.logo {
    margin-top: 3%;
    margin-left: 10%;
}

.card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
  }
  .card p {
    padding: 15px;
    max-width: 70%;
    margin-top: 13%;
    margin-left: -45%;
    color:hsl(0, 36%, 70%);
    
  }

  .card img {
    width: 40%;
    height: auto;
    margin-right: 8%;
    margin-top: -5%;
  }

  span {
    color:hsl(0, 36%, 70%);
    font-weight: 300;
    
  }
  h1 {
    font-size: 50px;
    margin-top: -20%;
    margin-left: 10%;
    font-family: "Josefin Sans", sans-serif;
  }

  .email {
    margin-left: -55%;
    margin-top: 22%;
    border-radius: 50px;
    height: 3%;
  }
button {
    margin-left: -12%;
    margin-top: 20%;

    border-radius: 50px;
    height: 3;
    background: hsl(0, 36%, 70%);
    cursor: pointer;
}

#email-field {
   
  
    border: none;
    border-bottom: 0px solid #555;
    background: transparent;
  }


#email-error{
    
    font-size: 16px;
    font-weight: 400;
    color: red;
}